DATABASE_NAME=  # Имя базы данных
DATABASE_USER=  # Имя пользователя базы данных
DATABASE_PASSWORD=  # Пароль пользователя базы данных
DATABASE_HOST=  # Адрес сервера базы данных
DATABASE_PORT=  # Порт сервера базы данных