SECRET_KEY=  # secret key
DEBUG= # режим дебага
DB_NAME=  # Имя базы данных
DB_USER=  # Имя пользователя базы данных
DB_PASSWORD=  # Пароль пользователя базы данных
DB_HOST=  # Адрес сервера базы данных
DB_PORT=  # Порт сервера базы данных