# DATABASES
DB_NAME=  # Имя базы данных
DB_USER=  # Имя пользователя базы данных
DB_PASSWORD=  # Пароль пользователя базы данных
DB_HOST=  # Адрес сервера базы данных
DB_PORT=  # Порт сервера базы данных

# SECRET_KEY
SECRET_KEY=  # secret key

# DEBUG
DEBUG= # режим дебага

# Windows использует кодировку CP1251 вместо UTF-8
PYTHONIOENCODING=utf-8

# SMTP
EMAIL_HOST_USER=example@yandex.ru
EMAIL_HOST_PASSWORD=password