# Имя базы данных
DATABASE_NAME=

# Имя пользователя базы данных
DATABASE_USER=

# Пароль пользователя базы данных
DATABASE_PASSWORD=

# Адрес сервера базы данных
DATABASE_HOST=localhost

# Порт сервера базы данных
DATABASE_PORT=5432