<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">

            <h1 class="fw-light">Интернет-магазин на Gjango</h1>

            <p class="lead text-body-secondary">
                Здесь продаются товары различных категорий!
                Покупайте вещи дешево и без наценки!
            </p>

            <p>
                <a href="{% url 'catalog:catalog_list' %}" class="btn btn-primary my-2">Главная</a>
                <a href="{% url 'blog:list' %}" class="btn btn-success my-2">Блог</a>
                <a href="{% url 'catalog:contact' %}" class="btn btn-info my-2">Контакты</a>
            </p>

        </div>
    </div>
</section>