<! products_list.html >
{% extends "base.html" %}

{% block title %}Каталог Gjango shop{% endblock %}

{% block content %}
<!-- Блок карточки.-->
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <!-- Пройдём циклом по тому что передали в шаблон через context.-->
            {% for product in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    {% if product.image %}
                        <img src="{{ product.image.url }}"
                             class="card-img-top"
                             alt="{{ product.name }}"
                             style="height: 225px; object-fit: cover;">
                    {% else %}
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225">
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Нет фото</text>
                        </svg>
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ product.name|truncatechars:30 }}</h5>
                        <p class="card-text text-muted">{{ product.description|truncatechars:100 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="fw-bold text-primary fs-5">{{ product.price }} ₽</span>
                            <!-- Кнопка для перехода к конкретной карточке товара.-->
                            <div class="btn-group">
                                <a href="{% url 'catalog:catalog_detail' product.pk %}" class="btn btn-sm btn-outline-primary">Смотреть</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center text-muted">Товары пока не добавлены.</p>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}